services:
  mariadb:
    profiles:
      - mariadb
    image: library/mariadb:11
    restart: always
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mariadb -uroot -p$MYSQL_ROOT_PASSWORD -e 'SELECT 1' || exit 1",
        ]
      interval: 5s
      timeout: 1s
      retries: 5
      start_period: 5s
    environment:
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD?"Please set the MYSQL_ROOT_PASSWORD environment variable"}'
      MYSQL_DATABASE: '${MYSQL_DATABASE?"Please set the MYSQL_DATABASE environment variable"}'
  side-kar:
    profiles:
      - mariadb
    build:
      context: .
      target: mysql-utils
    restart: always
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - ./.temp/maria:/backups
    environment:
      DB_HOST: mariadb
      DB_PASS: "${MYSQL_ROOT_PASSWORD}"
      # DB_NAME: "${MYSQL_DATABASE}"
      DB_USER: root
      BACKUP_CRON: "0 0 * * *"
      BACKUP_ON_INIT: yes

  postgres:
    profiles:
      - postgres
    image: library/postgres:16
    restart: always
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U$POSTGRES_USER -d$POSTGRES_DB -h 127.0.0.1 || exit 1",
        ]
      interval: 5s
      timeout: 1s
      retries: 5
      start_period: 5s
    environment:
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD?"Please set the POSTGRES_PASSWORD environment variable"}'
      POSTGRES_DB: '${POSTGRES_DB?"Please set the POSTGRES_DB environment variable"}'
      POSTGRES_USER: "${POSTGRES_USER?Please set the POSTGRES_USER environment variable}"

  side-kar-pg:
    profiles:
      - postgres
    build:
      context: .
      target: pg-utils
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./.temp/pg:/backups
    environment:
      DB_HOST: postgres
      DB_USER: "${POSTGRES_USER:-postgres}"
      DB_PASS: "${POSTGRES_PASSWORD}"
      # DB_NAME: "${POSTGRES_DB}"
      BACKUP_CRON: "0 0 * * *"
      BACKUP_ON_INIT: "yes"
